[user]
    name = Josh Miller
    email = notjoshmiller@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitexcludes
[color]
    ui = true
[push]
    default = simple
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    keepbackup = false
[include]
    path = ~/.gitconfig_local
[rerere]
    enabled = true
[url "https://"]
    insteadOf = git://
[credential]
    helper = cache --timeout 3600
